.mainloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: #fff;
    justify-content: center;
    display: flex;
    align-items: center;
    z-index: 10;
}